::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px rgb(112, 109, 109);
  border: solid 3px transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px 10px rgb(83, 72, 72);
}

.NavActive::before{
  content: '';
  position: absolute;
  left: -28px;
  width: 35px;
  height: 45px;
  border-radius: 6px;
  background-color: #6C13B7;
}

.animation{
  animation: fade 0.5s;
}

@keyframes fade{
  0% {opacity: 0;}
  100%{opacity: 1;}
}


.nav:hover{
  width: 250px;
}

.nav:hover .btn{
  width: 100%;
  height: 40px;
  opacity: 1;
}
.nav:hover .name{
  display: flex;
}
